/* Base Styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-bg, #f8f9fa); /* Set light background */
    line-height: 1.6;
    color: var(--dark-text, #343a40);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Global button reset */
button {
    cursor: pointer;
}

/* Global link reset */
a {
    text-decoration: none;
    color: inherit;
}